@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Black text in dark mode */
    --background-start-rgb: 255, 255, 255; /* White background in dark mode */
    --background-end-rgb: 255, 255, 255; /* White background in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a {
  color: #0066dd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
